body {
  padding-top: 50px;
}

.navbar-fixed-top {
    background-color: #000;
}
.short-name {
    font-weight: bold;
}
.navbar-header .back {
    margin-top: 8px;
}
.navbar-inverse .navbar-text {
    color: #f2f2f2;
}

.center {
  text-align: center;
  width: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.container.campsites {
  padding-left: 0;
  padding-right: 0;
}
